@model IEnumerable<GruppNrSexMVC.Models.MailListModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Mejladresser</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Mailadress)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Mailadress)
            </td>
            
            <td>
                <div class="buttoncard1">
                    <a asp-action="Edit" asp-route-id="@item.Id"><button class="buttonEdit2"><span class="text">Korrigera</span></button></a><p>   </p>
                    <a asp-action="Details" asp-route-id="@item.Id"><button class="buttonEdit2"><span class="text">Detaljer</span></button></a><p>   </p>
                    <a asp-action="Delete" asp-route-id="@item.Id"><button class="buttonDelete"><span class="text">Radera</span></button></a>
                </div>
            </td>
            
        </tr>
        }
    </tbody>
</table>
<a asp-action="Create"><button class="buttonCreate"><span class="text">Skapa Mejl</span></button></a>



