@model EmailModel
@{
    ViewData["Title"] = "Send";
}

<h1>SKICKA MAIL</h1>

@using (Html.BeginForm("Send", "Mails", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.Label("Till", "Till:", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.To, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
    <div class="form-group">
        @Html.Label("Ämne", "Ämne:", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Subject, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Body, htmlAttributes: new { @class = "control-label col-md-10" })
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.Body, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>



    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <Button type="submit" class="buttonCreate"><span class="text">SKICKA</span></Button>
        </div>
    </div>

</div>


}
<div>
    <a asp-action="Index" asp-controller="Mails"><button class="buttonEdit"><span class="text">TILLBAKA</span></button></a>
</div>